@model FinalProject.ViewModels.CCustomerViewModel

@{
    ViewData["Title"] = "會員詳細資料";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">
        會員詳細資料
    </h1>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div>
            <dl class="row ms-2">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FCustomerId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FCustomerId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FLastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FLastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FFirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FFirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FGender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FGender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FTel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FTel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FMobile)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FMobile)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FEmail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FEmail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FPassword)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FPassword)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBirthDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBirthDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FPoint)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FPoint)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBlackList)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBlackList)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FRemark)
                </dt>
                <dd class="col-sm-10">
                    @{
                        if (Model.FRemark != null)
                        {
                            @Html.Raw(Model.FRemark.Replace(Environment.NewLine, "<br/>"))
                        }
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FCreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FCreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FLastUpdateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FLastUpdateDate)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            @Html.ActionLink("修改", "Edit", new {  id=Model.FCustomerId } , new {@class="btn btn-success"})
            <a class="btn btn-danger" asp-action="List">返回</a>
        </div>
    </div>
</div>