@model FinalProject.ViewModels.CProviderViewModel

@{
    ViewData["Title"] = "供應商詳細資料";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">
        供應商詳細資料
    </h1>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div>
            <dl class="row ms-2">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FCompanyName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FCompanyName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FPassword)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FPassword)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FTaxId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FTaxId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FFax)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FFax)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FOwnerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FOwnerName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FOwnerTel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FOwnerTel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FOwnerMobile)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FOwnerMobile)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FOwnerEmail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FOwnerEmail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FContactName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FContactName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FContactTel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FContactTel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FContactMobile)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FContactMobile)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FContactEmail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FContactEmail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FAddress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FAddress)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBankName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBankName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBankDivisionName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBankDivisionName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBankAccountNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBankAccountNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBankAccountName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBankAccountName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FBlackList)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FBlackList)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FRemark)
                </dt>
                <dd class="col-sm-10">
                    @{
                        if (Model.FRemark != null)
                        {
                            @Html.Raw(Model.FRemark.Replace(Environment.NewLine, "<br/>"))
                        }
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FCreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FCreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FLastUpdateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FLastUpdateDate)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            @Html.ActionLink("修改", "Edit", new {id = Model.FId}, new { @class = "btn btn-success" })
            <a asp-action="List" class="btn btn-danger">取消</a>
        </div>
    </div>
</div>
