@model IEnumerable<FinalProject.Models.TCoupon>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="container-fluid px-4">
    <h1 class="mt-4">優惠卷資訊</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">新增優惠卷</a>
    </p>
</div>

<div class="card mb-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        序
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FRatio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FAvailableTimes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FUsedTimes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FRatio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FAvailableTimes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FUsedTimes)
                            </td>
                            <td>
                                @Html.ActionLink("詳細", "Details", new { id = item.FSid }, new { @class="btn btn-secondary" })
                                @Html.ActionLink("修改", "Edit", new { id = item.FSid }, new { @class = "btn btn-success" })
                                @Html.ActionLink("刪除", "Delete", "Provider", new { id = item.FSid }, new { onclick = "return confirm('確定要刪除?\\n\\r刪除後將無法復原!')", @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
